.project-container {
    position: absolute;
    top: 10%;
    left: 75%;
    right: 20%;
    width: 20vw;
    height:80vh;
    background: transparent;
    border: 1px solid white;
    border-radius: 2em;
    display: flex;
    flex-wrap: wrap;
    padding: 20px; /* Add some padding for spacing */
    box-sizing: border-box; /* Ensure padding is included in height/width */
    opacity: 0.8;
    overflow: hidden;
}
.project-container h2{
    width: 9vw;
    height: 3vh;
    background: rgba(255, 255, 255, 0.3);
    border-radius: 2em;
    color: #fff;
    /* position: relative; */
    left: -1vw;
    margin: 1vw;
    padding: 1.5vw;
    box-sizing: border-box;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}
.list-container{
    position: relative;
    bottom: 23vh;
    left: 3vw;
    height: fit-content;
    width: fit-content;
}
.project-container li{
    width: 11vw;
    height: 7vh;
    border-radius: 2em;
    color: #fff;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
    position: relative;
    left: -4vw;
    margin: 10px;
    /* padding: 20px; */
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 1;
    animation: motion 2s infinite;
}
@keyframes motion {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}
.project-container li:hover{
    color: black;
    background: rgba(255, 255, 255, 0.3); 
    border: 1px solid white;
}